/* airbnbstyle.css */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #f5f5f5;
    background-color: #041825;
    text-align: center;
    padding: 0 450px 0 450px;
}

#property_type {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#bedrooms {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#beds {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#button {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}

#button:hover {
    background-color: #000;
    color: #fff;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-bottom: 20px;
}